@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto",sans-serif;
}
.bg1{
    display: flex;
    gap: 0;
    height: 100vh;
    width: 100vw;
    margin: auto;
    padding: 40px;
    position: relative;
    z-index: 1;
    background: linear-gradient(to right,rgb(22, 86, 188),rgb(0, 18, 44));
}

.login{
    height: 100%;
    width: 30vw;
    background-color: white;
    position: relative;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: relative;
    bottom: 0.5vh;
}
.nav{
    height: 10%;
    width: 100%;
    margin-top: 10%;
    position: relative;
    bottom: 5%;
    left: 30%;
    display: flex;
    flex-direction: column;
}
.para1{
    text-decoration: underline;
    color: rgb(35, 139, 212);
    position: relative;
    bottom: 2.8vh;
    left: 10vw;
}

.inputSection{
    margin-top: 8vh;
    position: relative;
left: 25%;
bottom: 100%;


}
.bigBox{
    position: relative;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.isInput2{
    margin-bottom: 5%; 
    height: 3vw;
    width: 200px;
    border: 1px solid rgb(35, 139, 212); 
    border-radius: 34px;
    padding: 1vw;
    font-size: larger;
}
input[type=text] {
    border : 1px solid rgb(35, 139, 212); 
}
.social{
    position:relative;
    left: 20%;
    display: flex;
    margin-top: 20%;
    gap: 4vw;
    text-align: center;
}
.sm{
    background-color: transparent;
   border: none;
   cursor: pointer;
   width: fit-content;
}

.btnImage{
    border-radius: 100px;
    height: 5vh;
}

::placeholder{
    color: black;
    font-family: "Roboto",sans-serif;
}
.logo{
    height: 120px;
    width: 120px;
    position: relative;
    left: 5%;
    top: 5%;
    border-radius: 50%;
}
.rm{
    position: relative;
    bottom: 1px;
    font-size: 0.9rem;
    font-family: "Roboto",serif;
}
.smBtn{
    font-family: "Roboto",serif;
    background-color: rgb(35, 139, 212);
    cursor: pointer;
    text-align: center;
    border: 1px solid white;
     border-radius: 10px;
      position: relative;
      top: 0px;
      left: 40px;
      height: 35px; 
      width: fit-content;
       color: white;
       font-weight: bold;
}
.title{
    position: relative;
    bottom: 50px;
    left: 7%;
    margin-top: 35px;
    font-size:50px;
    color:rgb(35, 139, 212);
    font-family: "Bebas Neue";
}
.log{
    position: relative;
    right: 20px;
}
.heading{
    font-size: x-large;
    position: relative;
    left: 11%;
    bottom: 55%;
    font-family: "Roboto",sans-serif;
    font-weight:bold; 
}
.para{
    position: relative;
    bottom: 30px;
    right: 10px;
    font-family: "Roboto",sans-serif;
    font-size: smaller;
}
.container2{
    
    height: 100%;
    width: 70vw;
    background-image: url('./media/item/image.jpg');
    background-size:cover; 
background-repeat: no-repeat;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
position: relative;
bottom: 0.5vh;
}
.smBtn6{
    font-family: "Roboto",serif;
    background-color: white;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgb(35, 139, 212);
     border-radius: 10px;
      position: relative;
      top: 0px;
      left: 12px;
      height: 35px; 
      width: 15vw;
       color: rgb(35, 139, 212);
       font-weight: bold; 
       margin-top: 2vh;
       padding-top:3.5px;
}

.smBtn6 img{
     height: 3vh;
     width: 2vw;
     border-radius: 50%;
     position: relative;
     left: 12.5vw;
     bottom: 3vh;
     text-align: center;
}